button#shadow {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: block;
  text-decoration: none;
}

button#shadow:visited,
button#shadow {
  color: black;
}

#shadow.closed {
  display: none;
}

#shadow img {
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
}
