button#shadow {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: block;
  text-decoration: none;
}

button#shadow:visited,
button#shadow {
  color: black;
}

#shadow.closed {
  display: none;
}

#shadow table {
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-spacing: 6px;
}

#shadow table img {
  width: 100%;
  object-fit: contain;
}
