#shadow {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#shadow .zoomPanel {
  margin: auto;
  display: flex;
  flex-direction: row;
}

#shadow.closed {
  display: none;
}

#shadow img {
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
}

#shadow button.prev,
#shadow button.next {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 32px;
  z-index: 3;
  text-shadow: 3px 3px 3px #333;
  margin:0;
}

#shadow button.prev:hover,
#shadow button.next:hover {
  background-color: rgba(0,0,0,0.3);
}

#shadow button.prev {
  margin-right: -2.8em;
  padding: 0 1.9em 0 0.1em;
}

#shadow button.next {
  margin-left: -2.8em;
  padding: 0 0.1em 0 1.9em;
}

@media(max-width: 499px) {
  #shadow button.prev,
  #shadow button.next {
    display: none;
  }
}