html, body, iframe {
	margin:0;
	padding:0;
	height:100%;
}

body {
	position: relative;
}

iframe {
	display:block;
	width:100%;
	border:none;
}

h1 {
	padding: 0;
	margin: 0;
}

button,
button:focus,
button:active{
    border-width: 0;
    background: transparent;
    outline: none;
    padding: 0;
		font-size: 14px;
		text-decoration: underline;
	}

body, td{
	font-size: 14px;
	color: black;
	font-family: Times, "Times New Roman", "New York", serif;
}

a:link, button {
	color: #672D91;
	font-family: Times, "Times New Roman," "New York", serif;
	cursor: pointer;
}

a:hover, button:hover {
	COLOR: #DD3C20;
}

a:visited, button:visited {
	COLOR: #672D91;
}

@media(min-width: 568px) {
	body.shell {
		background-image: url(images/back_leftbar.gif);
		background-repeat: repeat-y;
	}
}

.subheader, h2 {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold;
	margin: 0;
	padding: 1em 0 0;
}

.smallheader, h3 {
	FONT-SIZE: 12px; COLOR:black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal;
	padding: 0 0 1em 0;
	margin: 0;
}

p {
	margin: 0 0 1em;
	padding: 0px;
}