html, body, iframe { 
	margin:0;
	padding:0; 
	height:100%; 
}

iframe {
	display:block; 
	width:100%; 
	border:none;
}

h1 {
	padding: 0;
	margin: 0;
}

button,
button:focus,
button:active{
    border-width: 0;
    background: transparent;
    outline: none;
    padding: 0;
}

body, td{
	font-size: 14px;
	color: black;
	font-family: Times, Timew New Roman, New York, serif;
}

a:link {
	COLOR: #672D91; FONT-FAMILY: Times, Times New Roman, New York, serif;
}

a:hover {
	COLOR: #DD3C20;
}

a:visited {
	COLOR: #672D91;
}

@media(min-width: 500px) {
	body.shell {
		background-image: url(images/back_leftbar.gif);
		background-repeat: repeat-y;
	}
}
